<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Robotron</title>
    <meta name="theme-color" content="rgb(194,1,0)">
    <meta name="description" content="Robotron leaderboard for robotron by John Montgomery - a pygame game.">
    <link rel="icon" type="image/png" sizes="360x360" href="../static/img/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body style="background: rgb(0,0,0);">
    <div data-aos="zoom-out" data-aos-duration="2000" style="margin-right: 1%;margin-bottom: 0;margin-left: 1%;height: 98vh;width: 98%;margin-top: 1vh;border: 3px dotted #9f095c;">
        <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #9f095c;">
            <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #970b60;">
                <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #970b60;">
                    <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #900c64;">
                        <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #900c64;">
                            <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #880e68;">
                                <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #880e68;">
                                    <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #81106b;">
                                        <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #81106b;">
                                            <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #7a126f;">
                                                <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #7a126f;">
                                                    <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #721473;">
                                                        <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #721473;">
                                                            <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #6b1577;">
                                                                <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #6b1577;">
                                                                    <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #63177b;">
                                                                        <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #63177b;">
                                                                            <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #5b197e;">
                                                                                <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #5b197e;">
                                                                                    <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #541b82;">
                                                                                        <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #541b82;">
                                                                                            <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #4d1c86;">
                                                                                                <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #4d1c86;">
                                                                                                    <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #451e8a;">
                                                                                                        <div style="margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;height: 100%;width: 100%;border: 3px dotted #451e8a;">
                                                                                                            <h1 style="color: rgb(69,31,138);font-family: Conv_robotron-2084;text-align: center;margin-top: 9px;">UH OH</h1>

                                                                                                            <h2 style="color: rgb(69,31,138);font-family: Conv_robotron-2084;text-align: center;margin-top: 9px;">Something went wrong :(</h2>

                                                                                                            <h2 style="color: rgb(113,113,113);font-family: Conv_robotron-2084;text-align: center;margin-top: 50px;font-size: 12px;">&nbsp;by John Montgomery</h2>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
    <script src="../static/js/script.min.js"></script>
</body>

</html>